@model Presensi360.Models.ViewModels.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/templates/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/templates/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/templates/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-header">
                <div class="login-logo">
                    <a href="@Url.Action("Dashboard", "Home")"><b>Presensi</b>360</a>
                </div>
            </div>
            <div class="card-body">
                <form action="@Url.Action("Login", "Auth")" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="Username" placeholder="Username: ex: admin, user1">
                                @if (ViewData.ModelState["Username"]?.Errors.Any() == true)
                                {
                                    <span class="text-danger">@ViewData.ModelState["Username"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="Password" placeholder="Password">
                                @if (ViewData.ModelState["Password"]?.Errors.Any() == true)
                                {
                                    <span class="text-danger">@ViewData.ModelState["Password"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/templates/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstra~/templates/>
    <script src="~/templates/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/templates/js/adminlte.min.js"></script>
</body>
</html>
