<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/templates/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/templates/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/templates/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.min.css">
</head>
<body class="hold-transition login-page">
    @RenderBody()
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js"></script>
    <script src="~/templates/plugins/jquery/jquery.min.js"></script>
    <script src="~/templates/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/templates/js/adminlte.min.js"></script>
    <script>
        @if (TempData["Errors"] != null)
        {
            <text>
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '@TempData["Errors"]'
                });
            </text>
        }
    </script>
</body>
</html>
