@using System.Security.Claims
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="bi bi-person-circle mr-2"></i>
        @User.FindFirst(ClaimTypes.Name)?.Value
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        @if (User.IsInRole("User"))
        {
            <a href="@Url.Action("Index", "Profile")" class="dropdown-item">
                <i class="bi bi-gear mr-2"></i>
                <span class="float-right text-muted text-sm">Profile</span>
            </a>
            <div class="dropdown-divider"></div>
        }
        <a href="@Url.Action("Logout", "Account")" class="dropdown-item bg-danger">
            <i class="bi bi-box-arrow-left mr-2"></i>
            <span class="float-right text-sm">Log out</span>
        </a>
    </div>
</li>