@{
    ViewData["Title"] = "Management Medical Claim";
}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <a href="@Url.Action("Create", "ManagementMedicalClaim")" class="btn btn-success">
                    <i class="fas fa-download mr-2"></i>Template</a>
                <a href="@Url.Action("Import", "ManagementMedicalClaim")" class="btn btn-primary">
                    <i class="fas fa-upload mr-2"></i>Data</a>
            </div>
        </div>
        <div class="card-body">
            <table id="medicalClaimTable" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>No</th>
                    <th>NIP</th>
                    <th>Employee</th>
                    <th>Period</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#medicalClaimTable').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "ajax": {
                    "url": "/ManagementMedicalClaim/GetMedicalClaims",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return meta.row + 1;
                        },
                        "name": "No",
                        "autoWidth": true
                    },
                    { "data": "nip", "name": "NIP", "autoWidth": true },
                    { "data": "employeeName", "name": "Employee Name", "autoWidth": true },
                    {
                        "data": "startEndPeriod",  // Ganti dengan kolom gabungan
                        "name": "Period",
                        "autoWidth": true
                    },
                    {
                        "data": "claimDate",
                        "name": "Claim Date",
                        "autoWidth": true
                    },
                    { "data": "claimStatus", "name": "Claim Status", "autoWidth": true },
                    { "data": "claimCategory", "name": "Claim Category", "autoWidth": true },
                    {
                        "data": "employeeMedicalClaimId",
                        "className": "text-center",
                        "orderable": false,
                        "render": function (data) {
                            return `<div class="dropdown">
                                <a class="btn btn-outline-info" data-toggle="dropdown" href="#">
                                    <i class="fas fa-chevron-circle-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                    <a class="dropdown-item" href="/ManagementMedicalClaim/Edit/${data}"><i class="fas fa-edit"></i> Edit</a>
                                    <a class="dropdown-item" href="/ManagementMedicalClaim/Details/${data}"><i class="fas fa-info-circle"></i> Detail</a>
                                    <a class="dropdown-item bg-danger" href="/ManagementMedicalClaim/Delete/${data}"><i class="fas fa-trash"></i> Delete</a>
                                </div>
                            </div>`
                        }
                    }
                ]
            });
        });
    </script>
}
