@{
    ViewData["Title"] = "Management Leave Request";
}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <a href="@Url.Action("Create", "ManagementLeaveRequest")" class="btn btn-success">
                    <i class="fas fa-download mr-2"></i>Template</a>
                <a href="@Url.Action("Import", "ManagementLeaveRequest")" class="btn btn-primary">
                    <i class="fas fa-upload mr-2"></i>Data</a>
            </div>
        </div>
        <div class="card-body">
            <table id="leaveRequestTable" class="table table-bordered table-hover">
                <thead>
                <tr>
                   
                </tr> <th>No</th>
                <th>NIP</th>
                <th>Employee</th>
                <th>Date</th>
                <th>Days</th>
                <th>Type</th>
                <th>Action</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#leaveRequestTable').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "ajax": {
                    "url": "/ManagementLeaveRequest/GetLeaveRequests",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return meta.row + 1;
                        },
                        "name": "No",
                        "autoWidth": true
                    },
                    {"data": "employeNip", "name": "NIP", "autoWidth": true},
                    {"data": "employeeName", "name": "Employee Name", "autoWidth": true},
                    {"data": "leaveDate", "name": "Date", "autoWidth": true},
                    {"data": "leaveDays", "name": "Days", "autoWidth": true},
                    {"data": "leaveType", "name": "Type", "autoWidth": true},
                    {
                        "data": "leaveRequestId",
                        "render": function (data) {
                            return `<div class="dropdown">
                                <a class="btn btn-outline-info" data-toggle="dropdown" href="#">
                                    <i class="fas fa-chevron-circle-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                    <a class="dropdown-item" href="/ManagementLeaveRequest/Edit/${data}"><i class="fas fa-edit"></i> Edit</a>
                                    <a class="dropdown-item" href="/ManagementLeaveRequest/Details/${data}"><i class="fas fa-info-circle"></i> Detail</a>
                                    <a class="dropdown-item bg-danger" href="/ManagementLeaveRequest/Delete/${data}"><i class="fas fa-trash"></i> Delete</a>
                                </div>
                            </div>`;
                        },
                        "name": "Action",
                        "autoWidth": true
                    }
                ]
            });
        });
    </script>
}
