@{
    ViewData["Title"] = "Attendance";
}
<form id="attendanceForm">
    @Html.AntiForgeryToken()
</form>

<div class="col-12">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="far fa-calendar"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Calendar Days</span>
                    <span class="info-box-number" id="total-days">
                        0
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-calendar-alt"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Work Days</span>
                    <span class="info-box-number" id="work-days">0</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="far fa-calendar-check"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Meal Allowance Days</span>
                    <span class="info-box-number" id="meal-days">0</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-money-bill-wave"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Meal Allowance Total</span>
                    <span class="info-box-number" id="meal-total">0</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row justify-content-end">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownList("SelectedPeriod", (SelectList)ViewBag.Periods,
                            htmlAttributes: new { @class = "form-control select2bs4", style = "width: 100%;" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select id="year-period" class="form-control select2bs4" style="width: 100%;">

                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="button" id="loadAttendanceUser" class="btn btn-success"><i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row mt-1">
                <div class="col-lg-12">
                    <table id="attendanceRow" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">No</th>
                            <th class="text-center">Date</th>
                            <th>In</th>
                            <th>Out</th>
                            <th class="text-center">Status</th>
                            <th>Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            generateDateDropdown();
        });

        function generateDateDropdown() {
            const currentYear = new Date().getFullYear();
            const startYear = currentYear - 3;
            const endYear = currentYear + 2;
            const dropdownYear = $('#year-period');
            for (let i = startYear; i <= endYear; i++) {
                const isSelected = i === currentYear ? 'selected' : '';
                dropdownYear.append(`<option value="${i}" ${isSelected}>${i}</option>`);
            }
        }
    </script>
}
