@{
    ViewData["Title"] = "Biaya Kelahiran";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <a href="@Url.Action("DownloadForm", "MaternityServices")" class="btn btn-info">
                    <i class="fas fa-file-download mr-2"></i>
                    Form
                </a>
            </div>
        </div>

        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2024-11-12</td>
                        <td>Approved</td>
                        <td>IDR 4.500.000</td>
                        <td>Kelairan Anak Pertama</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>