@model IEnumerable<DAHAR.Models.PeriodModel>

@{
    ViewData["Title"] = "List Periods";
    var iteration = 1;
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Start Period</th>
                    <th>End Period</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@iteration</td>
                        <td>@item.StartPeriodDate?.ToString("dd MMMM")</td>
                        <td>@item.EndPeriodDate?.ToString("dd MMMM")</td>
                        <td>
                            @if (item.IsActive)
                            {
                                <span class="badge badge-success">Active</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Inactive</span>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Periods", new { id = item.PeriodId })"
                               class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                    iteration++;
                }
                </tbody>
            </table>
        </div>
    </div>
</div>