

@{
    ViewData["Title"] = "Permintaan Cuti";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <a href="@Url.Action("Create", "LeaveRequest")" class="btn btn-primary"><i
                    class="fas fa-plus-square mr-2"></i>Company</a>
            <a href="@Url.Action("Create", "LeaveRequest")" class="btn btn-info"><i class="fas fa-plus-square mr-2"></i>Download
                Form</a>
        </div>

        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>